<div class="app-container app-theme-white body-tabs-shadow">
  <div class="app-container">
    <div class="h-100 bg-plum-plate bg-animation">
      <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="mx-auto app-login-box col-md-8">
          <!--          <div class="app-logo-inverse mx-auto mb-3">Gulfcam</div>-->
          <!--          <div class="app-logo-inverse mx-auto mb-3">-->
          <!--            <img src="assets/images/logo-removebg-preview.png" width="60" alt="">-->
          <!--          </div>-->
          <div class="modal-dialog w-100 mx-auto">
            <div class="modal-content">
              <div class="modal-body">
                <div class="h5 modal-title text-center">
                  <h4 class="mt-2 mb-2">
                    <img src="assets/images/adeli.jpeg" width="60" alt="">
                  </h4>
                  <h4 class="mt-2">
                    <div>Mot de passe oublié ?,</div>
                    <span>Réinitialiser votre mot de passe</span>
                  </h4>
                </div>
                <form [formGroup]="forgetForm">
                  <div class="form-row">
                    <div class="col-md-12">
                      <div class="position-relative form-group">
                        <input id="exampleEmail" placeholder="Email..." type="email" class="form-control"  formControlName="username">
                        <div *ngIf="form['username'].invalid && (form['username'].dirty || form['username'].touched)"
                             class=""  style="color: #f65656; font-style: italic;">

                          <div *ngIf="form['username'].errors?.['required']" class="ml-3">
                            l'adresse email est requise.
                          </div>
                          <div *ngIf="form['username'].errors?.['email']" class="ml-3">
                            entrez une email valide : example@example.com
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="position-relative form-group">
                        <input  id="examplePassword" [(ngModel)]="pass" placeholder="nouveau mot de passe..." type="password" class="form-control" formControlName="password"></div>
                      <div *ngIf="form['password'].invalid && (form['password'].dirty || form['password'].touched)"
                           class=""  style="color: #f65656; font-style: italic;">

                        <div *ngIf="form['password'].errors?.['required']" class="ml-3">
                          le mot de passe est obligatoire.
                        </div>
                        <div *ngIf="form['password'].errors?.['pattern']" class="ml-3">
                          au moins 8 caractères avec 1 minuscule, 1 majuscule et 1 caractère spécial
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="position-relative form-group">
                        <input  id="confirm" [(ngModel)]="confirm_pass" placeholder="confirmer mot de passe" type="password" class="form-control" formControlName="cpass"></div>
                      <div *ngIf="confirm_pass !== pass && (form['cpass'].dirty || form['cpass'].touched)"
                           class=""  style="color: #f65656; font-style: italic;">
                          les mots de passe sont différents
                      </div>
                    </div>
                  </div>
                </form>
                <div class="divider"></div>
                <h6 class="mb-0">Connectez-vous ?
                  <a style="color: #3f6ad8; cursor: pointer" class="float-right" routerLink="/auth/login">ici</a></h6>
                <div *ngIf="errorMessage" >
                  <div class="divider" ></div>
                  <h6 class="mb-0 text-danger">{{errorMessage}}</h6>
                </div>
              </div>
              <div class="modal-footer clearfix">
                <div class="float-right">
                  <!--                  <button class="btn btn-primary btn-lg" [disabled]="loginForm.invalid " (click)="onSubmit()">Login</button>-->
                  <button type="submit" class="btn btn-primary" [disabled]="forgetForm.invalid || confirm_pass !== pass || (isLoading$ | async)" (click)="onSubmit()">
                    <i *ngIf="isLoading$ | async" class="fa fa-spinner fa-spin"></i>&nbsp;
                    <span *ngIf="isLoading$ | async">Réinitialiser ...</span>
                    <span *ngIf="!(isLoading$ | async)">Reinitialiser mot de passe</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center text-white opacity-8 mt-3">Copyright © {{socity}} 2023</div>
        </div>
      </div>
    </div>
  </div>
</div>

